* {
  font-family: cursive;
}
body {
  margin: 0;
  padding: 0;
}
#root {
  position: relative;
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;

  padding-bottom: 2.5rem;    /* Footer height */
}
.Header {
  text-align: center;
background-color: black;
color: palegreen;
}


.TodoList {
  width: 50%;
  margin: 0 auto;
}
.Todo {
  background-color: black;
  color: palegreen;
  text-align: center;
}
.Todo button {
  float: left;
}
.TodoList input {
  width:  100%;
  padding: 12px;
  border-style: none;
  background-color: palegreen;
  box-shadow: 1px 1px 0px black;
  text-align: center;
  }


.Footer {
  background-color: black;
  color: palegreen;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh;
  text-align: center;
    
}